<h1><%= @user.name %></h1>

<p><%= link_to "View as JSON", user_path(@user, format: 'json') %></p>

<ul>
  <% @user.posts.each do |post| %>
  <li><%= link_to post.title, post_path(post) %></li>
  <% end %>
</ul>
